/* remove the blue from cellphone selection, maybe I should apply it to the class that have the divs and container */
/* at the moment I have it in the HTML element but I should probably be more conservative */
body{
  -webkit-tap-highlight-color: transparent; /* transparent with keyword */
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* transparent with rgba */
  -webkit-tap-highlight-color: hsla(0,0,0,0); /* transparent with hsla */
  -webkit-tap-highlight-color: #00000000; /* transparent with hex with alpha */
  -webkit-tap-highlight-color: #0000; /* transparent with short hex with alpha */
  -webkit-touch-callout: none;
  -webkit-user-select: none; 
  -khtml-user-select: none; 
     -moz-user-select: none; 
      -ms-user-select: none; 
          user-select: none;
  }


.clip-circle {
    clip-path: url(#maskhair);       
    -webkit-clip-path: url(#maskhair);  
    /* cursor: grab; */
}

.timeFdiv {
  position: absolute;
  background-color:#4B9CD3;
  padding-left: 0;
  margin: 0px;
  border-collapse: collapse;
  width: inherit;
  height:inherit;
  
}

.timeFimg{
        max-width:none;
        max-height:none;
        position: absolute;
        pointer-events: none;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
}
    
.daAnim {
/* stroke-dasharray: 4; */
stroke-width:1%;
animation: dash 1s linear;  
animation-iteration-count: 4;
animation-direction: alternate;
}

@keyframes dash {
to {
stroke-width: 6%;
}
}
.arrow {
/* stroke-dasharray: 4; */
fill:#FFF;
stroke: #000;
stroke-width: .1%;
/* it was preivuouly stroke-width: .5%; */
fill-opacity: 1;
animation-name: opaArrow;
animation-duration: 1s;
animation-delay: 2s;  
/* animation-iteration-count: 1; */
animation-direction:reverse;
animation-timing-function: linear;
/* animation: none; */
}
.arrow:nth-child(1) {
    animation-delay: 0s;
}
.arrow:nth-child(2) {
    animation-delay: .5s;
}
.arrow:nth-child(3) {
    animation-delay: 1s;
}
.arrow:nth-child(4) {
    animation-delay: 1.5s;
}
@keyframes opaArrow {
  from {
    opacity:0;
    stroke-width: 0%;
}
to {
opacity:1;
stroke-width: .1%;
}
}
.daArrowCircle{
  fill-opacity:.5;
  animation-name: cirArrowAni;
  animation-duration: 2s;
  animation-timing-function: linear;
}
@keyframes cirArrowAni {
  from {
    fill-opacity:0;
}
to {
  fill-opacity:.5;
}
}
.daCenterSVG{
  opacity:0;
  animation-name: cirCenterAni;
  animation-duration: 4.5s;
  animation-timing-function: linear;
}
@keyframes cirCenterAni {
  from {
    opacity:1;
}
90%{
  opacity:1
}
to {
  opacity:0;
}
}

@keyframes cirCenterAni2 {
    from {opacity: .5;}
    25%{opacity: .5;}
    to {opacity:0;}
}

.pie-text{
  font-size: 20px;
}

.stop-scrolling {
  /* height: 100%; */
  /* overflow: hidden;
  user-select: none;
  overscroll-behavior: contain;
  touch-action: none; */
}

svg{
  /* width: 100%;
  height: 100%; */
  /* border: 1px solid green; */
  display:block;
  box-sizing: border-box;
}